* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.mapinfo, #map {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */

  padding-right: 1.04166666%;
}

/* Mobile defaults */
.mapinfo, #map {
  width: 100%;
  height: 300px;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .border_scroll {

  }
}
