@media (max-width: 650px) {
	.Intro {
		width: 100%;
		position: relative;
	}

	#pourVid {
		height: 10%;
	}
}

#pourVid {
	margin: 0;
	display: block;
	width: 100%;
	position: relative;
	z-index: 0;
	padding-left: -5;
}

.Intro {
	text-align: center;
}

#title {
	font-family: 'Tangerine';
	font-size: 100px;
}

.info {
	font-family: 'Lora';
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	color: white;
	padding-left: 27%;
	padding-top: 10%;
}

a {
	text-decoration: none;
}
